doctype html
html(lang="ru")
    include includes/_head
    body
        main.presentation
            section.slides.slides--1.slides--2.slides--3.slides--4.slides--5.slides--6.slides--7.slides--8.slides--9.slides--10.slides--11.slides--12.slides--13.slides--14.slides--15.slides--16.slides--17.slides--18.slides--19.slides--20.slides--21.slides--22.slides--23.slides--24.slides--25
                include includes/_group1
                include includes/_group5
                include includes/_group6
                include includes/_group7
            .switcher
                button.switcher_button.switcher_button--prev(data-action='prev' disabled)
                button.switcher_button.switcher_button--next(data-action='next')
        script.
            var first = 25;
            var last = 41;
        include includes/_footer