doctype html
html(lang="ru")
    include includes/_head
    body
        main.presentation
            section.slides.slides--1
                .group.group--1
                    .group--1_place
                    .group--1_circle
                        .group--1_circle_slide.group--1_circle_slide--1
                            img(src="../img/logo.png", alt="")
                        .group--1_circle_slide.group--1_circle_slide--2
                            img(src="../img/2_slide_text.png", alt="")
                    .group--1_content
                        ul.menu.group--1_list.group--1_list--1
                            li
                                span
                                | Почему Программа лояльности будет
                                br
                                | интересна носителям ACUVUE®
                            li
                                span
                                | Для кого предназначена Программа лояльности
                            li
                                span   
                                | Сроки реализации Программы лояльности
                            li
                                span   
                                | Механизм Программы лояльности
                            li
                                span
                                | Контактные линзы ACUVUE®, участвующие
                                br
                                | в Программе
                            li
                                span    
                                | Таблица баллов за покупку контактных линз
                                br
                                | ACUVUE®
                            li
                                span  
                                | Дополнительные баллы для участников
                                br
                                | Программы
                            li
                                span  
                                | Выдача бесплатной упаковки в салоне оптике
                            li
                                span 
                                | Вспомогательные материалы для сотрудников
                                br
                                | оптики
                            li
                                span
                                | СМС- или e-mail-информирование участника
                                br
                                | Программы
            .switcher
                button.switcher_button.switcher_button--prev
                button.switcher_button.switcher_button--next
        script(src="./js/app.min.js")