doctype html
html(lang="ru")
    include includes/_head
    body
        main.presentation
            section.slides.slides--1
                .group.group--1
                    .group--1_place
                        .group--1_place_header.group--1_place_header--1
                            | Для чего нам 
                            br
                            | Программы 
                            br
                            | Лояльности? 
                        .group--1_place_header.group--1_place_header--2
                            | ПОЧЕМУ  ПРОГРАММА  ЛОЯЛЬНОСТИ  ACUVUE
                            span ®
                            |  БУДЕТ  ИНТЕРЕСНА  НОСИТЕЛЯМ  КОНТАКТНЫХ 
                            br
                            | ЛИНЗ 
                        .group--1_place_header.group--1_place_header--3
                            | ДЛЯ КОГО  ПРЕДНАЗНАЧЕНА  ПРОГРАММА  ЛОЯЛЬНОСТИ? 
                        .group--1_place_header.group--1_place_header--10
                            | МЕХАНИЗМ 
                            br
                            | УЧАСТИЯ 
                            br
                            | ПОКУПАТЕЛЯ 
                            br
                            | В ПРОГРАММЕ 
                            br
                            | ЛОЯЛЬНОСТИ 
                    .group--1_circle
                        .group--1_circle_slide.group--1_circle_slide--1
                            img(src="../img/logo.png", alt="")
                        .group--1_circle_slide.group--1_circle_slide--2
                            img(src="../img/2_slide_text.png", alt="")
                        .group--1_circle_slide.group--1_circle_slide--3
                            img(src="../img/3_slide_text.png", alt="")
                        .group--1_circle_slide.group--1_circle_slide--9
                            img(src="../img/9_slide_text.png", alt="")
                    .group--1_content
                        ul.menu.group--1_list.group--1_list--1
                            li
                                span
                                | Почему Программа лояльности будет
                                br
                                | интересна носителям ACUVUE®
                            li
                                span
                                | Для кого предназначена Программа лояльности
                            li
                                span   
                                | Сроки реализации Программы лояльности
                            li
                                span   
                                | Механизм Программы лояльности
                            li
                                span
                                | Контактные линзы ACUVUE®, участвующие
                                br
                                | в Программе
                            li
                                span    
                                | Таблица баллов за покупку контактных линз
                                br
                                | ACUVUE®
                            li
                                span  
                                | Дополнительные баллы для участников
                                br
                                | Программы
                            li
                                span  
                                | Выдача бесплатной упаковки в салоне оптике
                            li
                                span 
                                | Вспомогательные материалы для сотрудников
                                br
                                | оптики
                            li
                                span
                                | СМС- или e-mail-информирование участника
                                br
                                | Программы
                        ul.menu.group--1_list.group--1_list--2
                            li
                                span
                                | Сценарий приглашения покупателя к участию в
                                br
                                | Программе лояльности 
                            li
                                span
                                | Дополнительные и вспомогательные материалы 
                            li
                                span
                                | Вопрос – Ответ  
                            li
                                span
                                | Механизм работы сотрудника салона оптики 
                                br
                                | с Программой   
                            li
                                span
                                | Механика работы сотрудника оптики 
                                br
                                | с программой    
                            li
                                span
                                | Оборудование для акции       
                            li
                                span
                                | Начисление баллов в салоне оптики      
                            li
                                span
                                | Выдача бесплатной упаковки контактных линз
                                br
                                | участникам Программы       
                            li
                                span
                                | Схема передачи бесплатной упаковки
                                br
                                | контактных линз участникам Программы         
                            li
                                span
                                | Акт приема-передачи подарка участникам Программы           
                            li
                                span
                                | Вспомогательные материалы для сотрудников оптик            
                        ol.menu.group--1_list.group--1_list--3.numbered.large
                            li
                                span
                                | Благодаря Программе в салоне появится больше 
                                br
                                | постоянных и новых покупателей  
                            li
                                span
                                | Благодаря Программе повысятся продажи
                                br
                                | контактных линз и появится возможность
                                br
                                | предложить покупателям другие товары (очки,
                                br
                                | солнцезащитные очки, растворы)  
                            li
                                span
                                | Благодаря Программе мы создадим и расширим базу
                                br
                                | постоянных покупателей контактных линз ACUVUE®  
                            li
                                span
                                | Благодаря Программе покупатель будет
                                br
                                | возвращаться за контактными линзами ACUVUE® 
                                br
                                | в вашу сеть оптик  
                            li
                                span
                                | Благодаря Программе покупка станет регулярной 
                                br
                                | и поможет людям точно и в срок менять линзы 
                        .group--1_scheme
                            .group--1_scheme_header
                                |       ПРОСТАЯ, ПОНЯТНАЯ СХЕМА РАБОТЫ.
                                br
                                | ПРИВЛЕКАТЕЛЬНЫЙ ПОДАРОК, УПАКОВКА
                                br
                                | КОНТАКТНЫХ ЛИНЗ      
                            .group--1_scheme_items
                                img(src="./img/6_slide_items.png", alt="")
                        ul.menu.group--1_list.group--1_list--4.large
                            li
                                | - Текущие носители контактных линз ACUVUE®  
                            li
                                | - Новые носители контактных линз ACUVUE®,
                                br
                                | которым врач подобрал линзы  
                            li
                                | - Текущие носители других контактных линз,
                                br
                                | которые могут быть заинтересованы в переходе
                                br
                                |  на более комфортные линзы ACUVUE®    
                        .group--1_men
                            img(src="./img/7_slide_men.png", alt="")
                        .group--1_terms
                            .group--1_terms_header
                                | Сроки реализации 
                                br
                                | Программы Лояльности 
                            .group--1_terms_content
                                .group--1_terms_content--blue
                                    .group--1_terms_header.small
                                        | Общий срок Программы лояльности  
                                    p 
                                        | С 1 августа 2016 года по 28 февраля 2018 года включительно
                                        br
                                        |  Программа будет продлеваться по мере необходимости  
                                    .group--1_terms_header.small
                                        | Регистрация участников в Программе лояльности 
                                        br
                                        | на сайте акувьюпромо.рф или через мобильное 
                                        br
                                        | Приложение Акувьюпромо  
                                    p 
                                        | С 1 августа 2016 года по 28 февраля 2018 года включительно 
                                        br
                                        | Программа будет продлеваться по мере необходимости   
                                .group--1_terms_content--white
                                    .group--1_terms_header.small
                                        | Определение получателей подарков 
                                    p
                                        | С 1 сентября 2016 года по 31 декабря 2017 года включительно 
                                        br
                                        | Процесс определения победителей будет продлен по мере необходимости    
                                .group--1_terms_content--blue
                                    .group--1_terms_header.small
                                        | Отправка подарков участникам Программы лояльности 
                                    p
                                        | С 15 сентября 2016 года по 28 февраля 2018 года включительно 
                                        br
                                        | Процесс отправки подарков будет продлен по мере необходимости   
                        ol.menu.group--1_list.group--1_list--10.numbered.images.medium
                            li
                                span
                                .group--1_list_img
                                    img(src="../img/qr.png", alt="")
                                | Покупатель регистрируется в программе любым удобным ему способом и
                                br
                                | получает персональный QR-код, с помощью которого начисляются баллы
                                br
                                | за покупку и совершаются другие действия в программе 
                            li
                                span
                                .group--1_list_img
                                    img(src="../img/lenses.png", alt="")
                                | Покупатель приобретает линзы ACUVUE®   
                            li
                                span
                                .group--1_list_img
                                    img(src="../img/points.png", alt="")
                                | При каждой покупке новых линз покупатель предъявляет свой 
                                br
                                | QR-код продавцу и получает баллы   
                            li
                                span
                                .group--1_list_img
                                    img(src="../img/box.png", alt="")
                                | При наборе 120 баллов покупатель получает возможность заказать
                                br
                                | бесплатную упаковку линз  
                    .group--1_peoples
                    .group--1_counter
                        | -01
            .switcher
                button.switcher_button.switcher_button--prev(data-action='prev' disabled)
                button.switcher_button.switcher_button--next(data-action='next')
        script(src="./js/app.min.js")