doctype html
html(lang="ru")
    include includes/_head
    body
        main.presentation
            section.slides.slides--1
                .group.group--1
                    .group--1_place
                        .group--1_circle
                            .group--1_circle_slide--1
                                img(src="../img/logo.png", alt="")
                            .group--1_circle_slide--2

                    .group--1_content
            .switcher
                button.switcher_button.switcher_button--prev
                button.switcher_button.switcher_button--next
        script(src="./js/app.min.js")