doctype html
html(lang="ru")
    include includes/_head
    body
        main.presentation
            section.slides.slides--1
                include includes/_group1
                include includes/_group2
            .switcher
                button.switcher_button.switcher_button--prev(data-action='prev' disabled)
                button.switcher_button.switcher_button--next(data-action='next')
        script(src="./js/app.min.js")