.group.group--5
    .group--5_place
        .group--5_place_header
            | СЦЕНАРИЙ ПРИГЛАШЕНИЯ ПОКУПАТЕЛЯ 
            br
            | К УЧАСТИЮ В ПРОГРАММЕ ЛОЯЛЬНОСТИ  
    .group--5_messages.group--5_messages--1
        .group--5_message.group--5_message--hollow
            | НАЛИЧИЕ ПРОГРАММЫ ЛОЯЛЬНОСТИ В САЛОНЕ ОПТИКИ                 
        .group--5_message
            | В нашем салоне сейчас проходит акция Программа лояльности. Став участником Программы лояльности, вы сможете получать в подарок бесплатные упаковки контактных линз. Могу я предложить вам принять в ней участие? Регистрация займет всего несколько минут.                 
        .group--5_message.group--5_message--hollow
            | ПРЕИМУЩЕСТВА ПРОГРАММЫ ЛОЯЛЬНОСТИ                  
        .group--5_message
            | Участие в Программе лояльности позволит вам получать
            br
            | бесплатную упаковку контактных линз за регулярные покупки
            br
            | линз ACUVUE®. За покупки вы будете получать баллы, которые
            br
            | потом можно поменять на бесплатную упаковку линз.               
    .group--5_messages.group--5_messages--2
        .group--5_message.group--5_message--hollow
            | КАК ЗАРЕГИСТРИРОВАТЬСЯ В ПРОГРАММЕ ЛОЯЛЬНОСТИ                   
        .group--5_message
            | Если у вас есть пара минут, то вы можете пройти регистрацию в Программе лояльности прямо сейчас. Я готов вам помочь. Также у вас есть возможность сделать это в удобное время самостоятельно, на сайте www.акувьюпромо.рф или в мобильном приложении Акувьюпромо, которое можно бесплатно скачать в AppStore и Play Маркет                   
        .group--5_message.group--5_message--hollow
            | КОМПЛИМЕНТ ПРОГРАММЫ ЛОЯЛЬНОСТИ
            br
            |  ДЛЯ НОВЫХ УЧАСТНИКОВ
        .group--5_message
            | После регистрации и вашей первой покупки контактных линз ACUVUE®, вы получите 300 руб. на номер мобильного телефона, который зарегистрируете в Программе лояльности. Деньги поступят на номер телефона в течение суток после покупки         
    .group--5_messages.group--5_messages--3
        .group--5_message.group--5_message--hollow
            | КАК ПОЛУЧИТЬ БЕСПЛАТНУЮ УПАКОВКУ КОНТАКТНЫХ 
            br
            | ЛИНЗ ACUVUE®?                     
        .group--5_message
            | После того, как вы накопите не менее 120 баллов вы сможете сделать заказ бесплатной упаковки линз в личном кабинете участника Программы лояльности на промосайте www.акувьюпромо.рф или в мобильном приложении Акувьюпромо. Бесплатная упаковка линз будет доставлена в выбранный вами салон оптики в течение 20 рабочих дней после оформления заказа            
        .group--5_message.group--5_message--hollow
            | КАКИЕ КОНТАКТНЫЕ ЛИНЗЫ ACUVUE® УЧАСТВУЮТ
            br
            |  В ПРОГРАММЕ ЛОЯЛЬНОСТИ?             
        .group--5_message
            | С полным списком контактных линз, участвующих в Программе лояльности, вы сможете ознакомиться в правилах акции в брошюре или в разделе «Правила» на промосайте www.акувьюпромо.рф                   
    .group--5_man
    .group--5_woman