@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Thin.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Thin.woff') format('woff'),
        url('../fonts/Circe/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Light.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Light.woff') format('woff'),
        url('../fonts/Circe/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'),
        url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-ExtraLight.woff2') format('woff2'),
        url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'),
        url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-Regular.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-Bold.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-Thin.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-Light.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-SemiBold.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/Akrobat/Akrobat-Black.woff2') format('woff2'),
        url('../fonts/Akrobat/Akrobat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

html, body{
    -webkit-overflow-scrolling: touch
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    outline: none;
}

.presentation{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @media screen and #{breakpoint(small down)} and (orientation: portrait) {
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            align-items: center;
            background-color: #fff;
            display: flex;
            justify-content: center;
            content: "Переверните ваше устройство";
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}
