.group.group--7
    .group--7_chats
        .group--7_chat.group--7_chat--1
        .group--7_chat.group--7_chat--2
    .group--7_faq
        .group--7_faq_head
            .group--7_faq_head_quest
                | вопрос
            .group--7_faq_head_answ
                | ответ
        .group--7_faq_row
            .group--7_faq_row_quest
                | Кто является 
                br
                | организатором акции?   
            .group--7_faq_row_answ
                | Организатором акции является компания ООО «Джонсон & Джонсон»      
        .group--7_faq_row
            .group--7_faq_row_quest
                | Сколько продлится акция?     
            .group--7_faq_row_answ
                | С 1 августа 2016 года по 28 февраля 2018 года включительно – срок проведения акции (включая срок регистрации, участия, выдача подарков) 
                br
                | С 1 августа 2016 года по 31 декабря 2017 года включительно – регистрация участников в акции на промосайте www.акувьюпромо.рф или через мобильное приложение Акувьюпромо
                br
                |  С 1 августа 2016 года по 31 декабря 2017 года включительно – определение получателей подарков и объявление результатов акции на сайте www.акувьюпромо.рф 
                br
                | С 15 сентября 2016 года по 28 февраля 2018 года включительно – отправка подарков участникам акции, набравшим не менее 120 баллов    
        .group--7_faq_row
            .group--7_faq_row_quest
                | В каких городах
                br
                |  проходит акция? 
            .group--7_faq_row_answ
                | Владивосток, Уссурийск, Артем, Находка, Уфа, Волгоград, Новосибирск  
        .group--7_faq_row
            .group--7_faq_row_quest
                | В каких сетях салонов оптики проходит акция? 
            .group--7_faq_row_answ
                | «Хамелеон», «Арника», «Дом Оптик», «Все для глаз»  