.group.group--7
    .group--7_chats
        .group--7_chat.group--7_chat--1
        .group--7_chat.group--7_chat--2
    .group--7_faq
        .group--7_faq_head
            .group--7_faq_head_quest
                | вопрос
            .group--7_faq_head_answ
                | ответ
        .group--7_faq_rows.group--7_faq_rows--1
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Кто является 
                    br
                    | организатором акции?   
                .group--7_faq_row_answ
                    | Организатором акции является компания ООО «Джонсон & Джонсон»      
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Сколько продлится акция?     
                .group--7_faq_row_answ
                    | С 1 августа 2016 года по 28 февраля 2018 года включительно – срок проведения акции (включая срок регистрации, участия, выдача подарков) 
                    br
                    | С 1 августа 2016 года по 31 декабря 2017 года включительно – регистрация участников в акции на промосайте www.акувьюпромо.рф или через мобильное приложение Акувьюпромо
                    br
                    |  С 1 августа 2016 года по 31 декабря 2017 года включительно – определение получателей подарков и объявление результатов акции на сайте www.акувьюпромо.рф 
                    br
                    | С 15 сентября 2016 года по 28 февраля 2018 года включительно – отправка подарков участникам акции, набравшим не менее 120 баллов    
            .group--7_faq_row
                .group--7_faq_row_quest
                    | В каких городах
                    br
                    |  проходит акция? 
                .group--7_faq_row_answ
                    | Владивосток, Уссурийск, Артем, Находка, Уфа, Волгоград, Новосибирск  
            .group--7_faq_row
                .group--7_faq_row_quest
                    | В каких сетях салонов оптики проходит акция? 
                .group--7_faq_row_answ
                    | «Хамелеон», «Арника», «Дом Оптик», «Все для глаз»  

        .group--7_faq_rows.group--7_faq_rows--2
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Кто может принимать участие в акции?  
                .group--7_faq_row_answ
                    | В акции могут принимать участие граждане Российской Федерации, постоянно проживающие на территории Российской Федерации, достигшие 18-летнего возраста. В акции не могут принимать участие сотрудники компании-организатора и аффилированные с ней лица, а также члены их семей 
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Каковы условия акции? 
                .group--7_faq_row_answ
                    | Для участия в акции необходимо купить контактные линзы ACUVUE® в период проведения акции в салоне оптики, участвующем в акции. Зарегистрироваться в Программе лояльности ACUVUE® и получить персональный QR-код. Показать сотруднику салона оптики QR-код и получить баллы за каждую своевременную покупку линз ACUVUE®. Накопить не менее 120 баллов и получить упаковку контактных линз ACUVUE® в подарок. С условиями акции вы можете ознакомиться в правилах акции или в разделе «Правила» на промосайте www.акувьюпромо.рф  
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Как принять участие в акции? 
                .group--7_faq_row_answ
                    | Для того, чтобы принять участие в акции, необходимо: 
                    br
                    | - зарегистрироваться на промосайте www.акувьюпромо.рф или в мобильном приложении Акувьюпромо, которое доступно для скачивания в AppStore и Play Market  
                    br
                    | - регулярно приобретать контактные линзы 
                    br
                    | ACUVUE® в течение всего периода акции, с учетом сроков их использования, в одной и той же сети салонов оптики из указанных в п. 4 правил акции  

        .group--7_faq_rows.group--7_faq_rows--3
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Как зарегистрироваться
                    br
                    |  на сайте?   
                .group--7_faq_row_answ
                    | Для того, чтобы зарегистрироваться на сайте необходимо:
                    br
                    |  - Перейти на промосайт www.акувьюпромо.рф
                    br
                    |  - Нажать на кнопку «Зарегистрироваться» 
                    br
                    | - Заполнить форму регистрации  поставить галочку, согласившись с условиями акции, предварительно с ними ознакомившись 
                    br
                    | - Подтвердить свой аккаунт, зайдя по ссылке, полученной по адресу электронной почты (e-mail), указанному при регистрации на промосайте 
                    br
                    | www.акувьюпромо.рф, или по СМС-сообщению, полученному на номер мобильного телефона, указанного при регистрации  
                    br
                    br
                    | После совершения первой покупки контактных линз ACUVUE® в качестве участника акции вы получаете гарантированный подарок – 300 рублей – на указанный при регистрации номер мобильного телефона  
            .group--7_faq_row
                .group--7_faq_row_quest
                    | В течение какого срока 300 рублей в подарок поступят на счет мобильного  телефона? 
                .group--7_faq_row_answ
                    | На счет мобильного телефона, указанного при регистрации, 300 рублей в подарок поступят не позднее одного рабочего дня, следующего за первой покупкой контактных линз.  

        .group--7_faq_rows.group--7_faq_rows--4
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Как зарегистрироваться
                    br
                    |  через приложение?
                .group--7_faq_row_answ
                    | Для того, чтобы зарегистрироваться через приложение необходимо:  
                    br
                    br
                    | - Скачать приложение Акувьюпромо в AppStore или Play Market 
                    br
                    | - Установить приложение на вашем мобильном устройстве 
                    br
                    | - Нажать на кнопку «Зарегистрироваться» 
                    br
                    | - Заполнить форму регистрации  поставить галочку, согласившись с условиями акции, предварительно с ними ознакомившись 
                    br
                    | - Подтвердить свой аккаунт, зайдя по ссылке, полученной по адресу электронной почты (e-mail), указанному при регистрации на промосайте www.акувьюпромо.рф, или по СМС-сообщению, полученному на номер мобильного телефона, указанного при регистрации  
                    br
                    br
                    | После совершения первой покупки контактных линз ACUVUE® в качестве участника акции вы получаете гарантированный подарок – 300 рублей – на указанный при регистрации номер мобильного телефона  

        .group--7_faq_rows.group--7_faq_rows--5
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Как начисляются баллы 
                    br
                    | за покупку? 
                .group--7_faq_row_answ
                    | Чтобы накопить баллы вам необходимо:  
                    br
                    br
                    | - Зарегистрироваться на промосайте
                    br
                    |  www.акувьюпромо.рф или в мобильном приложении Акувьюпромо, которое доступно для скачивания в AppStore и Play Market
                    br
                    |  - В течение периода акции покупать контактные линзы ACUVUE® с учетом сроков их использования в одной и той же сети салонов оптики из указанных в п. 4 правил акции 
                    br
                    | - При покупке вам необходимо показать ваш QR-код, который вы получите после регистрации, сотруднику салона оптики 
                    br
                    | - За каждую покупку вам будут начисляться баллы, все баллы отражаются в личном кабинете участника акции 
                    br
                    | - Баллы начисляются только при своевременной покупке линз ACUVUE®, согласно сроку ношения контактных линз, указанному в п. 1. 4 правил акции. При не совершении покупки в сроки, указанные в п. 1. 4 правил акции, баллы за покупку начисляться не будут. Ранее набранные баллы не сгорают  

        .group--7_faq_rows.group--7_faq_rows--6
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Какие контактные линзы принимают участие 
                    br
                    | в акции?
                .group--7_faq_row_answ
                    | С полным списком контактных линз ACUVUE®, участвующих в акции, можно ознакомиться в правилах акции в разделе: Контактные линзы, участвующие в акции» или в правилах акции в разделе «Правила» на промосайте www.акувьюпромо.рф.  
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Какие контактные 
                    br
                    | линзы можно получить 
                    br
                    | в подарок? 
                .group--7_faq_row_answ
                    | В качестве подарка вы сможете получить те контактные линзы, которые соответствуют вашим параметрам контактных линз, указанным при регистрации из ниже перечисленных:
                    br
                    br
                    p 1-DAY ACUVUE OASYS®  
                    p 1-DAY ACUVUE TruEye®
                    p 1-DAY ACUVUE MOIST  
                    p ACUVUE OASYS with Hydraluxe®  
                    p 1-DAY ACUVUE DEFINE
                    p   1-DAY ACUVUE MOIST for ASTIGMATISM  
                    p ACUVUE OASYS for ASTIGMATISM   

        .group--7_faq_rows.group--7_faq_rows--7
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Сколько баллов нужно 
                    br
                    | накопить, чтобы получить подарок? 
                .group--7_faq_row_answ
                    | Для получения подарка вам необходимо накопить 120 баллов   
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Где можно посмотреть 
                    br
                    | количество накопленных 
                    br
                    | баллов?  
                .group--7_faq_row_answ
                    | Количество накопленных баллов, а также перечень приобретенных контактных линз вы сможете посмотреть в личном кабинете участника промоакции    
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Как я могу получить подарок (бесплатную 
                    br
                    | упаковку контактных 
                    br
                    | линз)?   
                .group--7_faq_row_answ
                    | Количество накопленных баллов, а также перечень приобретенных контактных линз вы сможете посмотреть в личном кабинете участника промоакции  
                    br
                    br
                    | Подарок можно получить после того, как вы накопите не менее 120 баллов после заказа бесплатной упаковки в личном кабинете участника. Для заказа подарка  необходимо:
                    br
                    br
                    |   - зайти в личном кабинете во вкладку «Заказать бесплатную упаковку контактных линз ACUVUE®» 
                    br
                    | - заполнить форму заказа 
                    br
                    | - нажать кнопку «заказать»  
                    br
                    br
                    | За полученный подарок баллы не начисляются     
                
        .group--7_faq_rows.group--7_faq_rows--8
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Где можно 
                    br
                    | получить подарок?  
                .group--7_faq_row_answ
                    | Подарок (бесплатную упаковку контактных линз) можно получить в выбранном при заказе линз салоне оптики.
                    br
                    |  Со списком салонов оптики можно ознакомиться в правилах акции в разделе «Правила» на промосайте www.акувьюпромо.рф    
            .group--7_faq_row
                .group--7_faq_row_quest
                    | В течение какого срока 
                    br
                    | я могу получить 
                    br
                    | мой подарок?  
                .group--7_faq_row_answ
                    | Подарок будет доставлен в выбранный вами салон оптики в течение 20 рабочих дней, после оформления заказа на промосайте www.акувьюпромо.рф     
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Как мне узнать 
                    br
                    | статус доставки 
                    br
                    | моего подарка?   
                .group--7_faq_row_answ
                    | На номер телефона, зарегистрированный вами на промосайте, будет отправлено СМС-сообщение с информацией о доставке подарка. Либо вам будет отправлено письмо на электронный адрес, зарегистрированный на промосайте, в зависимости от того, какой способ оповещения был вами выбран      
            .group--7_faq_row
                .group--7_faq_row_quest
                    | Какие документы 
                    br
                    | мне необходимо иметь
                    br
                    |  при себе, чтобы получить подарок?    
                .group--7_faq_row_answ
                    | Для получения подарка вам необходимо иметь при себе:
                    br
                    br
                    |   - паспорт гражданина РФ
                    br
                    |   - распечатанный сертификат, который будет отправлен на ваш электронный адрес после заказа подарка, а также СМС-сообщение с уведомлением о том, что ваш подарок доставлен в салон оптики       