.group.group--4
    .group--2_header.group--4_header
        | СМС или e-mail информирование Участника
    .group--2_descr.group--4_descr
        | Чтобы участник понимал, как проходит акция и мог отслеживать свое участие в ней,
        br
        | мы сообщаем обо всех актуальных событиях и изменениях с помощью СМС или e-mail рассылок     
    .group--4_messages
        .group--4_messages_phone
            img(src="./img/22_phone.svg", alt="")
        .group--4_messages_content
            .group--4_messages_head
                .group--4_messages_head_thread
                    | Тема сообщения     
                .group--4_messages_head_text
                    | Текст сообщения   
            .group--4_messages_row
                .group--4_messages_row_thread
                    | Успешная регистрация 
                    br
                    | в салоне оптики      
                .group--4_messages_row_message
                    | Для дальнейших действий перейдите по ссылке 
                    br
                    | www.акувьюпромо.рф или скачайте мобильное приложение
                    br
                    | Акувьюпромо в AppStore или Play Маркет. Имеются
                    br
                    | противопоказания. Необходимо проконсультироваться со
                    br
                    | специалистом        
            .group--4_messages_row
                .group--4_messages_row_thread
                    | Успешная регистрация 
                    br
                    | в Программе лояльности      
                .group--4_messages_row_message
                    | Поздравляем! Вы успешно зарегистрированы в Программе
                    br
                    | лояльности. Имеются противопоказания.
                    br
                    |  Необходимо проконсультироваться со специалистом       
            .group--4_messages_row
                .group--4_messages_row_thread
                    | Успешная регистрация     
                .group--4_messages_row_message
                    | Вы зарегистрировались в акции, спасибо за участие!       