.group.group--2
    .group--2_header
        | Дополнительные баллы для участников 
    .group--2_descr
        | Описание механики действия участника для получения дополнительных баллов и бонусов 
    .group--2_steps
        .group--2_step.group--2_step--1
            .group--2_step_title
                | за регистрацию 
            .group--2_step_content
        .group--2_step.group--2_step--2
            .group--2_step_title
                | за приглашение друга 
            .group--2_step_content
        .group--2_step.group--2_step--3
            .group--2_step_title
                | ЗА КАЖДУЮ ПЯТУЮ ПОКУПКУ  
            .group--2_step_content
        .group--2_step.group--2_step--4
            .group--2_step_title
                | ЗА ПЕРВУЮ ПОКУПКУ – 300 РУБ.  
            .group--2_step_content
