.group.group--2
    .group--2_header.group--2_header--14
        | Дополнительные баллы для участников 
    .group--2_header.group--2_header--21
        | ВСПОМАГАТЕЛНЫЕ МАТЕРИАЛЫ 
        br
        | ДЛЯ СОТРУДНИКОВ САЛОНА ОПТИКИ 
    .group--2_descr.group--2_descr--14
        | Описание механики действия участника для получения дополнительных баллов и бонусов 
    .group--2_descr.group--2_descr--21
        | Что делать, если возникнут вопросы по правилам акции, работе с приложением?
        br
        |  Ответы на все вопросы можно получить в следующих источниках:   
    .group--2_steps
        .group--2_step.group--2_step--1
            .group--2_step_title
                | за регистрацию 
            .group--2_step_content
        .group--2_step.group--2_step--2
            .group--2_step_title
                | за приглашение друга 
            .group--2_step_content
        .group--2_step.group--2_step--3
            .group--2_step_title
                | ЗА КАЖДУЮ ПЯТУЮ ПОКУПКУ  
            .group--2_step_content
        .group--2_step.group--2_step--4
            .group--2_step_title
                | ЗА ПЕРВУЮ ПОКУПКУ – 300 РУБ.  
            .group--2_step_content
    .group--2_table
        .group--2_table_column
            .group--2_table_column_header
                | ПРАВИЛА 
                br
                | НА САЙТЕ 
            .group--2_table_column_content
                | Правила акции расположены на сайте акувьюпромо.рф в разделе «правила»  
                br
                br
                | В правилах акции можно узнать условия и период проведения Акции  
        .group--2_table_column
            .group--2_table_column_header
                | РАЗДЕЛ 
                br
                | ВОПРОСЫ- 
                br
                | ОТВЕТЫ 
            .group--2_table_column_content
                | Раздел «вопросы-ответы» расположен на сайте акувьюпромо.рф  
                br
                br
                | В нем содержится перечень наиболее часто задаваемых вопросов  
        .group--2_table_column
            .group--2_table_column_header
                | ОБРАТНАЯ 
                br
                | СВЯЗЬ 
            .group--2_table_column_content
                |  Раздел «обратная связь» расположен на сайте акувьюпромо.рф  
                br
                br
                | В нем можно задать вопрос в электронном сообщении. Ответ будет дан в течение пяти рабочих дней  
                br
                br
                | Для того, чтобы задать вопрос, необходимо выбрать тему вопроса, написать сообщение, ввести капчу 
        .group--2_table_column
            .group--2_table_column_header
                | ТЕЛЕФОН 
                br
                | ГОРЯЕЙ 
                br
                | ЛИНИИ:  
            .group--2_table_column_content
                |   8 (968) 432-63-60
                br
                | ПН. – СБ.
                br
                |  С 3:00 – 8:00  
                br
                br
                | 8 (965) 115-05-30
                br
                |  ПН. – СБ.
                br
                |  С 8:00 - 17:00 
        .group--2_table_column
            .group--2_table_column_header
                | БРОШЮРА 
                br
                | В САЛОНЕ ОПТИКИ 
            .group--2_table_column_content
                | Брошюра выдается посетителю салона оптики  
                br
                br
                | В ней содержится полное описание механизма Программы лояльности  
                br
                br
                | Описание процесса регистрации в Программе лояльности. Список продуктов, участвующих в Программе лояльности и механизм начисления баллов  
                br
                br
                | Также в брошюре указан перечень наиболее часто задаваемых вопросов 