.group.group--1
    .group--1_place
        .group--1_place_header.group--1_place_header--1
            | Для чего нам 
            br
            | Программы 
            br
            | Лояльности? 
        .group--1_place_header.group--1_place_header--2
            | ПОЧЕМУ  ПРОГРАММА  ЛОЯЛЬНОСТИ  ACUVUE
            span ®
            |  БУДЕТ  ИНТЕРЕСНА  НОСИТЕЛЯМ  КОНТАКТНЫХ 
            br
            | ЛИНЗ 
        .group--1_place_header.group--1_place_header--3
            | ДЛЯ КОГО  ПРЕДНАЗНАЧЕНА  ПРОГРАММА  ЛОЯЛЬНОСТИ? 
        .group--1_place_header.group--1_place_header--10
            | МЕХАНИЗМ 
            br
            | УЧАСТИЯ 
            br
            | ПОКУПАТЕЛЯ 
            br
            | В ПРОГРАММЕ 
            br
            | ЛОЯЛЬНОСТИ 
        .group--1_place_header.group--1_place_header--12
            | Контактные линзы ACUVUE®, участвующие 
            br
            | в программе лояльности 
        .group--1_place_header.group--1_place_header--13
            | Как набирать баллы за покупку
        .group--1_place_header.group--1_place_header--19
            | Выдача 
            br
            | бесплатной
            br
            |  упаковки 
            br
            | в салоне 
            br
            | оптики
        .group--1_place_header.group--1_place_header--40
            | КАК ВОВЛЕЧЬ 
            br
            | ПОКУПАТЕЛЯ
            br
            |  В ПРОГРАММУ 
            br
            | ЛОЯЛЬНОСТИ  
        .group--1_place_points
            .group--1_place_points_left
                p Покупателю надо регулярно покупать линзы в соответствии со сроком их ношения, установленном в таблице  
                p 
                    | Покупателю приходит напоминание за 10 дней до рекомендованной даты следующей покупки
                    br
                    | (e-mail/СМС-оповещение)  
                p За просроченную покупку баллы не начисляются. Уже накопленные к этому моменту баллы НЕ СГОРАЮТ  
                p Сроки следующей покупки рассчитаны на основе объема упаковки и срока ношения контактных линз плюс запас дней с учетом не постоянного ношения 
            table.group--1_place_points_table
                tr
                    th
                    th
                        | Форматы 
                        br
                        | упаковок, шт.  
                    th
                        | Количество
                        br
                        |  баллов 
                        br
                        | за купленную
                        br
                        |  упаковку  
                    th
                        | Количество упаковок 
                        br
                        | необходимо купить
                        br
                        |  для получения 
                        br
                        | бесплатной упаковки, шт. 
                    th
                        | Максимальный
                        br
                        |  срок покупки 
                        br
                        | следующей
                        br
                        |  упаковки, мес. 
                tr
                    td 
                        | ACUVUE OASYS® with HYDRACLEAR® PLUS 
                        br
                        | ACUVUE OASYS® for ASTIGMATISM 
                    td 6 
                    td 30 
                    td 4 
                    td 2 
                tr
                    td ACUVUE OASYS® with HYDRACLEAR® PLUS
                    td 12 
                    td 60
                    td 2
                    td 4
                tr
                    td
                        | 1-Day ACUVUE® DEFINE® 
                        br
                        | 1-Day ACUVUE® TruEye® 
                        br
                        | 1-Day ACUVUE® MOIST 
                        br
                        | 1-Day ACUVUE® MOIST for ASTIGMATISM 
                        br
                        | 1-Day ACUVUE® MOIST MULTIFOCAL 
                    td 30
                    td 20
                    td 6
                    td 1
                tr
                    td ACUVUE OASYS® 1-Day
                    td 30
                    td 30
                    td 4
                    td 2
                tr
                    td
                        | ACUVUE OASYS® 1-Day 
                        br
                        | 1-Day ACUVUE® TruEye® 
                        br
                        | 1-Day ACUVUE® MOIST 
                        br
                        | 1-Day ACUVUE® MOIST for ASTIGMATISM  
                    td 90
                    td 60
                    td 2
                    td 3
            .group--1_place_points_bottom
                .group--1_place_points_bottom_left
                    p Пример:  
                    img(src="./img/consumer.png", alt="")
                    .group--1_place_points_bottom_label
                        span
                            | 1 упаковка 
                            br
                            |  ACUVUE OASYS® 
                            br
                            |  for ASTIGMATISM 
                            br
                            | 6 линз, 30 баллов    
                        span
                            | 1 упаковка
                            br
                            |  ACUVUE OASYS® 
                            br
                            | for ASTIGMATISM 
                            br
                            | Contact Lenses 
                            br
                            | 6 линз, 30 баллов    
                .group--1_place_points_bottom_right
                    | Итого: 60 баллов 
                    br
                    | При совершении еще двух покупок 
                    br
                    | (каждые 2 месяца) потребитель накопит 120 баллов 
                    br
                    | и сможет заказать бесплатную упаковку
                    br
                    |  ACUVUE OASYS® for ASTIGMATISM 6 линз    
    .group--1_circle
        .group--1_circle_slide.group--1_circle_slide--1
            img(src="../img/logo.png", alt="")
        .group--1_circle_slide.group--1_circle_slide--2
            img(src="../img/2_slide_text.png", alt="")
        .group--1_circle_slide.group--1_circle_slide--3
            img(src="../img/3_slide_text.png", alt="")
        .group--1_circle_slide.group--1_circle_slide--9
            img(src="../img/9_slide_text.png", alt="")
        .group--1_circle_slide.group--1_circle_slide--25
            img(src="../img/25_text.png", alt="")
        .group--1_circle_slide.group--1_circle_slide--39
            img(src="../img/39_text.png", alt="")
    .group--1_content
        ul.menu.group--1_list.group--1_list--1
            li
                span
                | Почему Программа лояльности будет
                br
                | интересна носителям ACUVUE®
            li
                span
                | Для кого предназначена Программа лояльности
            li
                span   
                | Сроки реализации Программы лояльности
            li
                span   
                | Механизм Программы лояльности
            li
                span
                | Контактные линзы ACUVUE®, участвующие
                br
                | в Программе
            li
                span    
                | Таблица баллов за покупку контактных линз
                br
                | ACUVUE®
            li
                span  
                | Дополнительные баллы для участников
                br
                | Программы
            li
                span  
                | Выдача бесплатной упаковки в салоне оптике
            li
                span 
                | Вспомогательные материалы для сотрудников
                br
                | оптики
            li
                span
                | СМС- или e-mail-информирование участника
                br
                | Программы
        ul.menu.group--1_list.group--1_list--2
            li
                span
                | Сценарий приглашения покупателя к участию в
                br
                | Программе лояльности 
            li
                span
                | Дополнительные и вспомогательные материалы 
            li
                span
                | Вопрос – Ответ  
            li
                span
                | Механизм работы сотрудника салона оптики 
                br
                | с Программой   
            li
                span
                | Механика работы сотрудника оптики 
                br
                | с программой    
            li
                span
                | Оборудование для акции       
            li
                span
                | Начисление баллов в салоне оптики      
            li
                span
                | Выдача бесплатной упаковки контактных линз
                br
                | участникам Программы       
            li
                span
                | Схема передачи бесплатной упаковки
                br
                | контактных линз участникам Программы         
            li
                span
                | Акт приема-передачи подарка участникам Программы           
            li
                span
                | Вспомогательные материалы для сотрудников оптик            
        ol.menu.group--1_list.group--1_list--3.numbered.large
            li
                span
                | Благодаря Программе в салоне появится больше 
                br
                | постоянных и новых покупателей  
            li
                span
                | Благодаря Программе повысятся продажи
                br
                | контактных линз и появится возможность
                br
                | предложить покупателям другие товары (очки,
                br
                | солнцезащитные очки, растворы)  
            li
                span
                | Благодаря Программе мы создадим и расширим базу
                br
                | постоянных покупателей контактных линз ACUVUE®  
            li
                span
                | Благодаря Программе покупатель будет
                br
                | возвращаться за контактными линзами ACUVUE® 
                br
                | в вашу сеть оптик  
            li
                span
                | Благодаря Программе покупка станет регулярной 
                br
                | и поможет людям точно и в срок менять линзы 
        .group--1_scheme
            .group--1_scheme_header
                |       ПРОСТАЯ, ПОНЯТНАЯ СХЕМА РАБОТЫ.
                br
                | ПРИВЛЕКАТЕЛЬНЫЙ ПОДАРОК, УПАКОВКА
                br
                | КОНТАКТНЫХ ЛИНЗ      
            .group--1_scheme_items
                img(src="./img/6_slide_items.png", alt="")
        ul.menu.group--1_list.group--1_list--4.large
            li
                | - Текущие носители контактных линз ACUVUE®  
            li
                | - Новые носители контактных линз ACUVUE®,
                br
                | которым врач подобрал линзы  
            li
                | - Текущие носители других контактных линз,
                br
                | которые могут быть заинтересованы в переходе
                br
                |  на более комфортные линзы ACUVUE®    
        .group--1_men
            img(src="./img/7_slide_men.png", alt="")
        .group--1_terms
            .group--1_terms_header
                | Сроки реализации 
                br
                | Программы Лояльности 
            .group--1_terms_content
                .group--1_terms_content--blue
                    .group--1_terms_header.small
                        | Общий срок Программы лояльности  
                    p 
                        | С 1 августа 2016 года по 28 февраля 2018 года включительно
                        br
                        |  Программа будет продлеваться по мере необходимости  
                    .group--1_terms_header.small
                        | Регистрация участников в Программе лояльности 
                        br
                        | на сайте акувьюпромо.рф или через мобильное 
                        br
                        | Приложение Акувьюпромо  
                    p 
                        | С 1 августа 2016 года по 28 февраля 2018 года включительно 
                        br
                        | Программа будет продлеваться по мере необходимости   
                .group--1_terms_content--white
                    .group--1_terms_header.small
                        | Определение получателей подарков 
                    p
                        | С 1 сентября 2016 года по 31 декабря 2017 года включительно 
                        br
                        | Процесс определения победителей будет продлен по мере необходимости    
                .group--1_terms_content--blue
                    .group--1_terms_header.small
                        | Отправка подарков участникам Программы лояльности 
                    p
                        | С 15 сентября 2016 года по 28 февраля 2018 года включительно 
                        br
                        | Процесс отправки подарков будет продлен по мере необходимости   
        .group--1_list--numbered
            ol.menu.group--1_list.group--1_list--10.images
                li
                    span
                    .group--1_list_img
                        img(src="../img/qr.png", alt="")
                    | Покупатель регистрируется в программе любым удобным ему способом и
                    br
                    | получает персональный QR-код, с помощью которого начисляются баллы
                    br
                    | за покупку и совершаются другие действия в программе 
                li
                    span
                    .group--1_list_img
                        img(src="../img/lenses.png", alt="")
                    | Покупатель приобретает линзы ACUVUE®   
                li
                    span
                    .group--1_list_img
                        img(src="../img/points.png", alt="")
                    | При каждой покупке новых линз покупатель предъявляет свой 
                    br
                    | QR-код продавцу и получает баллы   
                li
                    span
                    .group--1_list_img
                        img(src="../img/box.png", alt="")
                    | При наборе 120 баллов покупатель получает возможность заказать
                    br
                    | бесплатную упаковку линз  
            ol.menu.group--1_list.group--1_list--11.images
                li
                    span
                    .group--1_list_img
                        img(src="../img/score.png", alt="")
                    | Дополнительные механизмы, позволяющие ускорить накопление баллов:  
                    br
                    br
                    | - Начисление дополнительных баллов 
                    br
                    | - Приведи друга 
                    br
                    | - Пятая покупка    
                li
                    span
                    .group--1_list_img
                        img(src="../img/120.png", alt="")
                    | При наборе 120 баллов потребитель заказывает бесплатную упаковку линз 
                    br
                    | ACUVUE® для получения в салоне оптики 
                li
                    span
                    .group--1_list_img
                        img(src="../img/diploma.png", alt="")
                    | Консультант выдает бесплатную упаковку в салоне оптики, сканирует QR код
                    br
                    | потребителя и подписывает акты приема-передачи бесплатной упаковки     
        .group--1_loyalty
            .group--1_loyalty_left
                p Ассортимент
                ul.menu.group--1_list
                    li ACUVUE OASYS® 1-Day  
                    li 1-Day ACUVUE® TruEye®  
                    li 1-Day ACUVUE® MOIST  
                    li ACUVUE OASYS® with HYDRACLEAR® PLUS  
                    li 1-Day ACUVUE® DEFINE®  
                    li 1-Day ACUVUE® MOIST for ASTIGMATISM 
                    li 1-Day ACUVUE® MOIST MULTIFOCAL            
            .group--1_loyalty_right
                p Форматы упаковок
                ul.menu.group--1_list 
                    li 30/90  
                    li 30/90  
                    li 30/90  
                    li 6/12  
                    li 30
                    li 30/90  
                    li 30
            .group--1_loyalty_images
                img(src="./img/loyalty.png", alt="")
        .group--1_list--numbered
            ol.menu.group--1_list.group--1_list--19.images
                li
                    span
                    .group--1_list_img
                        img(src="./img/19_man_box.png", alt="")
                    | При накоплении 120 баллов участник заказывает бесплатную упаковку в личном
                    br
                    | кабинете и выбирает салон оптики, в котором ему удобно забрать свой заказ 
                li
                    span
                    .group--1_list_img
                        img(src="./img/19_delivery_man.png", alt="")
                    | Уведомление и информацию о том, что заказ принят и будет доставлен в салон
                    br
                    | оптики, участник получает посредством СМС или на электронную почту.
                    br
                    | Упаковка контактных линз с маркировкой Программы лояльности отправляетс
                    br
                    | в салон оптики с помощью курьерской службы   
                li
                    span
                    .group--1_list_img
                        img(src="./img/19_phone_file.png", alt="")
                    | Перед доставкой курьер связывается с ответственным сотрудником оптики. При
                    br
                    | получении упаковки сотруднику необходимо подписать документы  
                li
                    span
                    .group--1_list_img
                        img(src="./img/19_file.png", alt="")
                    | Акты приема-передачи для всех контактных линз регулярно доставляются
                    br
                    | курьерской службой в салон оптики 
                li
                    span
                    .group--1_list_img
                        img(src="./img/19_sms.png", alt="")
                    | Участнику приходит СМС с уведомлением о том, что его бесплатная упаковка
                    br
                    | доставлена по указанному адресу 
            ol.menu.group--1_list.group--1_list--20.images
                li
                    span
                    .group--1_list_img
                        img(src="./img/20_diploma_qr.png", alt="")
                    | Участник приходит в салон оптики и предъявляет сертификат или QR-код  
                li
                    span
                    .group--1_list_img
                        img(src="./img/20_phone_qr.png", alt="")
                    | Для фиксации выдачи бесплатных линз участнику Программы лояльности
                    br
                    | сотрудник салона нажимает на кнопку «Выдать бесплатные линзы», сканирует
                    br
                    | QR-код или вводит номер телефона участника, (в административной системе
                    br
                    | меняется статус заказа на «выдан»), выдает три экземпляра акта
                    br
                    | приема-передачи подарка для заполнения. Акты приема-передачи подарка
                    br
                    | хранятся в салоне оптики и при необходимости могут быть дозаказаны через
                    br
                    | горячую линию Программы лояльности    
                li
                    span
                    .group--1_list_img
                        img(src="./img/20_files.png", alt="")
                    | Участник заполняет три экземпляра акта приема-передачи подарка  
                li
                    span
                    .group--1_list_img
                        img(src="./img/20_box_file.png", alt="")
                    | Сотрудник салона передает участнику бесплатную упаковку линз и один
                    br
                    | экземпляр акта приема-передачи   
        ol.menu.group--1_list.group--1_list--40.numbered.images
            li
                span
                .group--1_list_img
                    img(src="./img/curriculum.png", alt="")
                a(data-open="modal") Расскажите о выгоде от участия в Программе лояльности ACUVUE® 
            li
                span
                .group--1_list_img
                    img(src="./img/blank.png", alt="")
                | Зарегистрируйте покупателя в Программе лояльности ACUVUE®    
            li
                span
                .group--1_list_img
                    img(src="./img/score.png", alt="")
                | Расскажите покупателю о том, как можно зарабатывать баллы: за покупки и не
                br
                | только 
            li
                span
                .group--1_list_img
                    img(src="./img/www.png", alt="")
                | Проинформируйте покупателя, что ему необходимо пройти авторизацию на
                br
                | сайте www.акувьюпромо.рф   
    .group--1_peoples
    .group--1_counter