.group.group--6
    .group--6_content
        .group--6_content_header
            | ДОПОЛНИТЕЛЬНЫЕ
            br
            | И ВСПОМОГАТЕЛЬНЫЕ
            br
            | МАТЕРИАЛЫ
        p
            | В качестве дополнительных и вспомогательных промо-материалов салонам будут предоставлены:
        ul.menu.group--6_list
            li
                span
                    img(src=path+"img/poster.png", alt="")
                | Плакаты в формате А4 – приглашают посетителей салона оптики стать участником Программы лояльности
            li
                span
                    img(src=path+"img/brochure.png", alt="")
                | Брошюры в подставках – помогут посетителям самостоятельно ознакомиться с Программой лояльности и пройти регистрацию, а также могут служить дополнительным средством для наглядной демонстрации сотрудникам салона
            li
                span
                    img(src=path+"img/interface.png", alt="")
                | Воблеры на стендах – привлекают внимание посетителей и призывают стать участниками Программы лояльности
    .group--6_place
        .group--6_place_promo
            img(src=path+"img/29_promo.jpg", alt="")