.group.group--3
    .group--3_digit.group--3_digit--1
    .group--3_digit.group--3_digit--2
    .group--3_digit.group--3_digit--3
    .group--3_content.group--3_content--1
        .group--3_header
            | регистрация
        .group--3_descr
            | НА ЭТАПЕ РЕГИСТРАЦИИ ПОКУПАТЕЛЮ 
            br
            | НАЧИСЛЯЮТСЯ 10 БАЛЛОВ  
            br
            br
            p Для получения баллов необходимо:  
            | - Зарегистрироваться в Программе лояльности 
            br
            | - Заполнить полностью все поля формы регистрации 
            br
            | - Подтвердить адрес электронной почты     
        .group--3_stripe.group--3_stripe--hand
            | После этого покупателю на e-mail направляется информационное письмо 
            br
            | об успешном прохождении регистрации и начислении баллов. Баллы 
            br
            | отображаются у участника в личном кабинете      
        .group--3_stripe.group--3_stripe--gears
            | Механизм дополнительного вознаграждения участника
            br
            | позволит получить максимально исчерпывающую информацию
            br
            | о его профиле и избежать частичного или неполного
            br
            | заполнения анкет  
    .group--3_content.group--3_content--2
        .group--3_header
            | приглашение
        .group--3_descr
            |     ЗА ПРИГЛАШЕНИЕ В ПРОГРАММУ ДРУГА УЧАСТНИКУ 
            br
            | НАЧИСЛЯЮТСЯ ДОПОЛНИТЕЛЬНЫЕ БАЛЛЫ
            br
            br
            br
            p    Для получения баллов необходимо:
            |   - Нажать в личном кабинете на кнопку «Пригласить друга» и скопировать ссылку 
            br
            | на регистрацию в программе 
            br
            | - Отправить другу ссылку по почте или СМС 
            br
            | - Получить 10 баллов после того, как друг зарегистрируется по ссылке
            br
            |  - Получить еще 10 баллов после того, как друг совершит первую покупку    
        .group--3_stripe.group--3_stripe--gears
            | При зачислении дополнительных баллов участник получает на
            br
            | e-mail информационное письмо. Баллы отображаются у
            br
            | участника в личном кабинете.  
            br
            br
            | Участник может пригласить в программу любое количество
            br
            | друзей.  
    .group--3_content.group--3_content--3
        .group--3_header
            | 5-ая покупка
        .group--3_descr
            |        ЗА КАЖДУЮ 5-Ю ПОКУПКУ УЧАСТНИКУ НАЧИСЛЯЮТСЯ
            br
            | ДОПОЛНИТЕЛЬНЫЕ 10 БАЛЛОВ   
            br
            br
            p Для получения баллов необходимо:   
            br
            | - Быть участником программы лояльности с подтвержденным e-mail 
            br
            | - Регулярно совершать покупки 
            br
            | - При регистрации каждой 5-й покупки получить дополнительные 10 баллов     
        .group--3_stripe.group--3_stripe--gears
            | При зачислении дополнительных баллов участник получает на
            br
            | e-mail информационное письмо. Баллы отображаются у
            br
            | участника в личном кабинете.  