- var path = './';
head
    meta(charset="UTF-8")
    title Acuvue
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, maximum-scale=1')
    //- realfavicongenerator.net
    link(rel="stylesheet", href=path+"css/app.css")